{
  "presets": [
    "module:react-native-dotenv",
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    "react-require",
    [
      "module-resolver",
      {
        root: ["./src"],
        alias: {
          "@src": "./src"
        }
      }
    ],
    ["import", { libraryName: "@ant-design/react-native" }]
  ],
  "sourceMaps": true
}
